* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-image: url(images/patt.png);
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.row:after {
	content: "";
	display: block;
	clear: both;
}

[class*="col-"] {
	float: left;
}

.col-md-3 {
	width: 25%;
}

.col-md-6 {
	width: 50%;
}

.header {
	padding: 25px 0;
	background-color: rgba(255,255,255,0.75);
}